.allpay-form-placeholder
  display none

.allpay-window-overlay
  position fixed
  top 0
  left 0
  width 100%
  height 100%
  background-color $gray-darkest
  opacity 0.8
  z-index 9998

iframe.allpay-window
  position fixed
  top 5%
  left 5%
  width 90%
  height 90%
  z-index 9999
  background-color $white
