include ../../../components/buttons/index

.modal.modal-confirm( data-remodal-id=modalId )
  .modal-actions
    button.remodal-close( data-remodal-action='close' )
  .modal-header
    h3 刪除 #{_s.truncate(lineItemTitle, 15)}
  .modal-content
    p 刪除 <strong>#{lineItemTitle}</strong> 後將無法回復，你確定要刪除嗎？
  .modal-footer
    +button("button", "取消")(class="btn btn-sm btn-secondary btn-navy" data-icon="button-arrow" data-remodal-action="cancel")
    | &nbsp;
    +button("button", "確定")(class="btn btn-sm btn-primary btn-navy" data-icon="button-arrow" data-remodal-action="confirm")
