extends ../../../components/main_layout/templates/merchant_dashboard
include ../../../components/buttons/index

append locals
  - assetPackage = 'order'

block head
  title Order Creation

block content
  .row
    .col-md-22.col-md-offset-1
      ol.breadcrumb
        li: a( href="/dashboard" ) 後台首頁
        li: a( href="/orders" ) 訂單清單
        li.active= order.isNew() ? '新增訂單' : moment(order.get('created_at')).format('YYYY-MM-DD') + ' 建立的訂單'
  .row
    .col-md-22.col-md-offset-1
      h1.pull-left
        = order.isNew() ? '新增訂單' : '編輯訂單'
      .pull-right
        +button("a", "取消訂單")(class="btn btn-sm btn-secondary btn-navy cancel-order", data-icon="button-arrow")
        | &nbsp;
        +button("a", "儲存訂單")(class="btn btn-sm btn-primary btn-navy save-order", data-icon="button-arrow")
      .clearfix
    .col-md-22.col-md-offset-1
      .order-edit-message.alert( role="alert" )
  .row
    .col-md-6.col-md-offset-1
      .panel.panel-primary
        .panel-header 訂單資訊
        .panel-content
          .order-partial.order-id
            label 訂單編號
            p= order.get('_id')
          .order-partial.order-due-at
            label
              | 訂單保留期限
              a( data-toggle="tooltip" data-placement="right" title="當訂單確認送出後，買家有七天的時間可以付款。若買家在七天內沒有完成付款，此份訂單即失效。請記得善意提醒一下您的買家喔！" ) ?
            .order-partial-form
              form#form-set-due-at
                //- TODO: need a partial form to set due date
            .order-partial-preview
              p.order-due-at-preview 需於訂單送出後 7 天內付款
          .order-partial.order-notes
            label 附註
            .order-partial-action.pull-right
              ol.item-actions.action-list
                li: a#edit-order-notes.item-action.edit-item( href="#" ) 編輯
            .order-partial-form
              form#form-set-notes
                .form-group
                  textarea.form-control( name="notes" placeholder="訂單的附註說明..." rows="5")
                    = order.get('notes')
                .form-group
                  +button("button", "確定")(class="btn btn-sm btn-secondary btn-navy", type="submit")
            .order-partial-preview
              p.order-notes-preview= order.get('notes')

    .col-md-16
      include ./exchange_rate_settings

      .panel.panel-order-line-items( class=(order.isNew() ? 'panel-disabled' : 'panel-secondary') )
        .panel-header
          .panel-title STEP 2. 訂單內容
        .panel-content
          .order-line-items
            //- Render item placeholders to give better experience
            each item in orderLineItems
              .order-line-item
                .order-line-item-preview
                  .row
                    .col-md-5
                      .item-image
          .order-total-summary
            .row
              .col-md-10.col-md-offset-14
                .order-total-breakdown.clearfix
                  .order-total-breakdown-label.pull-left 商品總額
                  #order-product-total.order-total-breakdown-amount.pull-right
                    = acct.formatMoney(orderLineItems.total('product'))
                .order-total-breakdown.clearfix
                  .order-total-breakdown-label.pull-left 運費
                  #order-shipping-total.order-total-breakdown-amount.pull-right
                    = acct.formatMoney(orderLineItems.total('shipping'))
                .order-total-breakdown.clearfix
                  .order-total-breakdown-label.pull-left 代買費
                  #order-commission-total.order-total-breakdown-amount.pull-right
                    = acct.formatMoney(orderLineItems.total('commission'))
                .order-total-breakdown.clearfix
                  .order-total-breakdown-label.pull-left 總計
                  #order-total.order-total-breakdown-amount.pull-right
                    = acct.formatMoney(orderLineItems.total())

        .panel-footer
          .order-line-items-actions
            span 新增:
            +button("a", "商品")(class="btn btn-primary btn-red add-item", data-icon="product", data-item-type="product", data-icon-align="left")
            //+button("a", "從商品清單")(class="btn btn-primary btn-red select-item", data-icon="product", data-icon-align="left")
            +button("a", "運費")(class="btn btn-primary btn-red add-item", data-icon="product", data-item-type="shipping", data-icon-align="left")
            +button("a", "代買費")(class="btn btn-primary btn-red add-item", data-icon="product", data-item-type="commission", data-icon-align="left")
            +button("a", "稅金")(class="btn btn-primary btn-red add-item", data-icon="product", data-item-type="tax", data-icon-align="left")

      p.btn-toolbar.text-right
        +button("a", "取消訂單")(class="btn btn-sm btn-secondary btn-navy cancel-order", data-icon="button-arrow")
        | &nbsp;
        +button("a", "儲存訂單")(class="btn btn-sm btn-primary btn-navy save-order", data-icon="button-arrow")
