include ../../../components/buttons/index

- var uid = _.uniqueId()

if type == 'product'
  include ./product_item.jade
else if type == 'commission'
  include ./commission_item.jade
else if type == 'shipping'
  include ./shipping_item.jade
