h2#buttons 按鈕 Buttons
section.component-subsection
  h3 Default Buttons
  .button-sample
    h4 Default Size
    .row
      .col-md-8
        a.btn 我要購買
      .col-md-16
        pre: code a.btn 我要購買
  .button-sample
    h4 Small Size
    .row
      .col-md-8
        a.btn.btn-small 我要購買
      .col-md-16
        pre: code a.btn.btn-small 我要購買
  .button-sample
    h4 Tiny Size
    .row
      .col-md-8
        a.btn.btn-tiny 我要購買
      .col-md-16
        pre: code a.btn.btn-tiny 我要購買
section.component-subsection
  h3 Primary Buttons
  .button-sample
    h4 Default Size
    .row
      .col-md-8
        a.btn.btn-primary 我要購買
      .col-md-16
        pre: code a.btn.btn-primary 我要購買
  .button-sample
    h4 Small Size
    .row
      .col-md-8
        a.btn.btn-primary.btn-small 我要購買
      .col-md-16
        pre: code a.btn.btn-primary.btn-small 我要購買
  .button-sample
    h4 Tiny Size
    .row
      .col-md-8
        a.btn.btn-primary.btn-tiny 我要購買
      .col-md-16
        pre: code a.btn.btn-primary.btn-tiny 我要購買
section.component-subsection
  h3 Secondary Buttons
  .button-sample
    h4 Default Size
    .row
      .col-md-8
        a.btn.btn-secondary 我要購買
      .col-md-16
        pre: code a.btn.btn-secondary 我要購買
  .button-sample
    h4 Small Size
    .row
      .col-md-8
        a.btn.btn-secondary.btn-small 我要購買
      .col-md-16
        pre: code a.btn.btn-secondary.btn-small 我要購買
  .button-sample
    h4 Tiny Size
    .row
      .col-md-8
        a.btn.btn-secondary.btn-tiny 我要購買
      .col-md-16
        pre: code a.btn.btn-secondary.btn-tiny 我要購買
section.component-subsection
  h3 Disabled Buttons
  .button-sample
    h4 Default Size
    .row
      .col-md-8
        a.btn.btn-disabled 我要購買
      .col-md-16
        pre: code a.btn.btn-disabled 我要購買
  .button-sample
    h4 Small Size
    .row
      .col-md-8
        a.btn.btn-disabled.btn-small 我要購買
      .col-md-16
        pre: code a.btn.btn-disabled.btn-small 我要購買
  .button-sample
    h4 Tiny Size
    .row
      .col-md-8
        a.btn.btn-disabled.btn-tiny 我要購買
      .col-md-16
        pre: code a.btn.btn-disabled.btn-tiny 我要購買
section.component-subsection
  h3 Full Width Buttons
  .button-sample
    h4 Default Size
    .row
      .col-md-8
        a.btn.btn-primary.btn-full-width 我要購買
      .col-md-16
        pre: code a.btn.btn-primary.btn-full-width 我要購買
  .button-sample
    h4 Small Size
    .row
      .col-md-8
        a.btn.btn-primary.btn-full-width.btn-small 我要購買
      .col-md-16
        pre: code a.btn.btn-primary.btn-full-width.btn-small 我要購買
  .button-sample
    h4 Tiny Size
    .row
      .col-md-8
        a.btn.btn-primary.btn-full-width.btn-tiny 我要購買
      .col-md-16
        pre: code a.btn.btn-primary.btn-full-width.btn-tiny 我要購買
