extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'style_guide'

block head
  title Style Guide | Takoman

block body
  .container-fluid.style-guide-container

    .style-guide-sidebar
      nav.style-guide-nav
        ul.list-unstyled
          li: a( href="#colors" ) 顏色 Colors
          li: a( href="#grids" ) 網格 Grids
          li: a( href="#buttons" ) 按鈕 Buttons
          li: a( href="#tables" ) 表格 Tables
          li: a( href="#panels" ) 面板 Panels
          li: a( href="#forms" ) 表單 Forms

    .style-guide-content
      h1 Takoman Style Guide

      section.component-section
        include colors.jade

      section.component-section.grid-sample
        include grids.jade

      section.component-section
        include buttons.jade

      section.component-section
        include tables.jade

      section.component-section
        include panels.jade

      section.component-section
        include forms.jade
