h2#panels 面板 Panels
section.component-subsection
  .row
    .col-sm-12
      h3 Default panel
      .panel
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel
        |   .panel-header 面板標題
        |   .panel-content ...

    .col-sm-12
      h3 Default panel with border
      .panel.panel-bordered
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-bordered
        |   .panel-header 面板標題
        |   .panel-content ...

  .row
    .col-sm-12
      h3 Primary panel
      .panel.panel-primary
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-primary
        |   .panel-header 面板標題
        |   .panel-content ...

    .col-sm-12
      h3 Primary panel with border
      .panel.panel-primary.panel-bordered
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-primary.panel-bordered
        |   .panel-header 面板標題
        |   .panel-content ...

  .row
    .col-sm-12
      h3 Secondary panel
      .panel.panel-secondary
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-secondary
        |   .panel-header 面板標題
        |   .panel-content ...

    .col-sm-12
      h3 Secondary panel with border
      .panel.panel-secondary.panel-bordered
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-secondary.panel-bordered
        |   .panel-header 面板標題
        |   .panel-content ...

  .row
    .col-sm-12
      h3 Disabled panel
      .panel.panel-disabled
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-disabled
        |   .panel-header 面板標題
        |   .panel-content ...

    .col-sm-12
      h3 Disabled panel with border
      .panel.panel-disabled.panel-bordered
        .panel-header 面板標題
        .panel-content
          p 女辛就往房裡走。他便又忙著和他們講價錢，道，一聲不響，門外的人們。
          p 她炸醬是看也不看，唉，只聽得錚的一聲？那年冬天。他喝過幾口白開水，彼得，大家回到關上，在下仍然堅定不移的說，被奇異果少女們圍毆，掌櫃說，又看看網兜裡的母雞。把一個小花圈掛上你的門前。沒有人要看，書記先生竟打起磕睡來。

      pre: code
        | .panel.panel-disabled.panel-bordered
        |   .panel-header 面板標題
        |   .panel-content ...
