h2#tables 表格 Tables
section.component-subsection
  h3 Dotted border table
  .row
    .col-md-24
      table.table.table-dotted
        thead
          tr
            th 商品
            th
            th 單價
            th 數量
            th 小計
        tbody
          tr
            td.table-cell-image
              img( src="http://anf.scene7.com/is/image/anf/anf_91516_01_prod1?$productMagnify-anf$" )
            td
              div Abercrombie & Fitch
              div Logo 圖案帽T
            td $45.00 USD
            td 1
            td $45.00 USD
          tr
            td.table-cell-image
              img( src="https://i.s-jcrew.com/is/image/jcrew/C4755_BR6339?$pdp_fs418$" )
            td
              div J.Crew
              div CORSICA ESPADRILLE WEDGES
            td $128.00 USD
            td 2
            td $256.00 USD
          tr
            td.table-cell-image
              img( src="http://a248.e.akamai.net/f/248/9086/10h/origin-d4.scene7.com/is/image/KateSpade/NJMU4780_107" )
            td
              div Kate Spade
              div BLOOMS FIT AND FLARE DRESS
            td $398.00 USD
            td 1
            td $398.00 USD
          tr
            td.table-cell-image
              img( src="http://s7d5.scene7.com/is/image/ToryBurchLLC/TB_21159898_995?rgn=384,1152,1920,1848&op_sharpen=1&scl=2.4469820554649266&fmt=jpeg&id=XD1r32" )
            td
              div Tory Burch
              div CRESCENT PRINTED 小斜肩包
            td $550.00 USD
            td 1
            td $550.00 USD

    .col-md-24
      pre: code
        | table.table.table-dotted
        |   thead
        |     tr
        |       th 商品
        |       th
        |       th 單價
        |       th 數量
        |       th 小計
        |   tbody
        |     tr
        |       td.table-cell-image
        |         img( src="#" )
        |       td
        |         div Abercrombie & Fitch
        |         div Logo 圖案帽T
        |       td $45.00 USD
        |       td 1
        |       td $45.00 USD

section.component-subsection
  h3 Striped table without row borders
  .row
    .col-md-24
      table.table.table-striped.table-no-row-border
        thead
          tr
            th 日期
            th 訂單編號
            th 付款方式
            th 金額
            th 備註
        tbody
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td

    .col-md-24
      pre: code
        | table.table.table-striped.table-no-row-border
        |   thead
        |     tr
        |       th 日期
        |       th 訂單編號
        |       th 付款方式
        |       th 金額
        |       th 備註
        |   tbody
        |     tr
        |       td 2015/04/12
        |       td #43458726
        |       td Web ATM
        |       td NT. 1530
        |       td

section.component-subsection
  h3 Condensed striped table
  .row
    .col-md-24
      table.table.table-striped.table-condensed
        thead
          tr
            th 日期
            th 訂單編號
            th 付款方式
            th 金額
            th 備註
        tbody
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td
          tr
            td 2015/04/12
            td #43458726
            td Web ATM
            td NT. 1530
            td

    .col-md-24
      pre: code
        | table.table.table-striped.table-condensed
        |   thead
        |     tr
        |       th 日期
        |       th 訂單編號
        |       th 付款方式
        |       th 金額
        |       th 備註
        |   tbody
        |     tr
        |       td 2015/04/12
        |       td #43458726
        |       td Web ATM
        |       td NT. 1530
        |       td
