.login-wrapper, .signup-wrapper
  text-align center
  .or-actions-separator
    margin 10px 0
  .action-forget-password, .action-signup
    line-height 45px
  .action-agree
    max-width 80%
    margin 0 auto
    padding 10px 0
  .toggle-signup, .toggle-login
    faux-underline()

.login-description, .signup-description
  font-size 24px
  margin-bottom 20px
.login-option, .signup-option
  margin-bottom 10px
