extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'order_confirmation'
  - bodyClass = 'order_confirmation'

append head
  title Order Confirmation

block body
  h1 Order Confirmation
