.total-summary.order-total-summary
  .total-summary-breakdown
    .total-breakdown-item
      .total-breakdown-label 商品總額
      #order-product-total.total-breakdown-amount
        = acct.formatMoney(orderLineItems.total('product'))
    .total-breakdown-item
      .total-breakdown-label 運費
      #order-shipping-total.total-breakdown-amount
        = acct.formatMoney(orderLineItems.total('shipping'))
    .total-breakdown-item
      .total-breakdown-label 代買費
      #order-commission-total.total-breakdown-amount
        = acct.formatMoney(orderLineItems.total('commission'))
    .total-breakdown-item
      .total-breakdown-label 稅金
      #order-tax-total.total-breakdown-amount
        = acct.formatMoney(orderLineItems.total('tax'))
  .total-summary-total
    .total-breakdown-item
      .total-breakdown-label 總計
      #order-total.total-breakdown-amount
        = acct.formatMoney(orderLineItems.total())
