.modal-auth
  text-align center
  .brand
    margin-bottom 20px
  .modal-header
    display none
  .remodal-close
    top 0
    right 0
    left auto
    &:before
      font-size 24px
      line-height 50px

@media only screen and (min-width: 641px)
  .modal-auth
    max-width 500px
