//== Typography
//
//## Font, line-height, and color for body text, headings, and more.

$font-family-sans-serif   = "Quattrocento Sans", "Helvetica Neue", Helvetica, Arial, sans-serif
$font-family-serif        = Georgia, "Times New Roman", Times, serif
//** Default monospace fonts for `<code>`, `<kbd>`, and `<pre>`.
$font-family-monospace    = Menlo, Monaco, Consolas, "Courier New", monospace
$font-family-base         = $font-family-sans-serif

$font-size-base           = 14px
$font-size-large          = ceil($font-size-base * 1.25)  // ~px
$font-size-small          = ceil($font-size-base * 0.85)  // ~px

$font-size-h1             = floor($font-size-base * 2.0)  // ~px
$font-size-h2             = floor($font-size-base * 1.8)  // ~px
$font-size-h3             = ceil($font-size-base * 1.5)   // ~px
$font-size-h4             = ceil($font-size-base * 1.25)  // ~px
$font-size-h5             = $font-size-base
$font-size-h6             = ceil($font-size-base * 0.85)  // ~px


//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns                 = 24
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width            = 20px

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding           = 15px
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding = 8px

//** Background color used for `.table-striped`.
$table-bg-accent              = $gray-lighter

//==forms
//

$input-height-base            = 46px
$input-color                  = $black
$input-border                 = $black
$input-border-radius          = 0

//== Breadcrumbs
//
//

$breadcrumb-padding-vertical    = 0
$breadcrumb-padding-horizontal  = 0
$breadcrumb-bg                  = transparent
$breadcrumb-color               = $gray-darker
$breadcrumb-active-color        = $red
$breadcrumb-separator           = "/"

//== Tooltips
//
//

$tooltip-max-width              = 250px
$tooltip-color                  = $gray-light
$tooltip-bg                     = $white
$tooltip-opacity                = 1
$tooltip-arrow-width            = 7px
$tooltip-arrow-color            = $tooltip-color
