//== Grid system
//
//## Define your custom responsive grid.

//** Number of columns in the grid.
$grid-columns                 = 24
//** Padding between columns. Gets divided in half for the left and right.
$grid-gutter-width            = 20px

//== Tables
//
//## Customizes the `.table` component with basic values, each used across all table variations.

//** Padding for `<th>`s and `<td>`s.
$table-cell-padding           = 15px
//** Padding for cells in `.table-condensed`.
$table-condensed-cell-padding = 8px

//** Background color used for `.table-striped`.
$table-bg-accent              = $gray-lighter

//==forms
//

$input-height-base            = 46px
$input-color                  = $black
$input-border                 = $black
$input-border-radius          = 0
