//
// Buttons
// --------------------------------------------------

// animation
@keyframes spin
  100%
    transform rotate(360deg)

spinner($width = 25px, $height = 6px, $color = "")
  background $color
  width $width
  height $height
  position absolute
  top "calc(50% - %s / 2)" % $height
  left "calc(50% - %s / 2)" % $width
  animation spin 1s infinite linear

// basic
input[type="submit"].btn,
input[type="submit"].btn:visited,
.btn, .btn:visited
  position relative
  display inline-block
  *display inline
  /* IE7 inline-block hack */
  *zoom 1
  padding 10px 20px
  margin-bottom 0
  border 3px solid
  line-height 1
  //font normal 22px/1 sans-serif
  font-size 14px
  font-smoothing antialiased
  font-weight bold
  letter-spacing 1.5px
  cursor pointer
  vertical-align middle
  text-align center
  text-decoration none
  text-transform uppercase
  transition all 0.15s ease-in-out
  background-color $gray-lightest
  border-color $gray-lightest
  color $black
  &:hover
    background-color $red
    border-color $red
    color $white
    text-decoration none
    > svg
      transform translate(3px, 0)
      .fillable
        fill $white
  &[data-state='loading'],
  &.is-loading
    background-color $red
    border-color $red
    color transparent
    &:after
      content ''
      display block
      spinner(25px, 6px, $white)
  &[data-icon][data-icon-align='left']
    > svg
      margin-left -5px
  &[data-icon][data-icon-align='right']
    > svg
      margin-right -5px
  > svg
    display inline-block
    position relative
    vertical-align top
    height 28px
    width 28px
    margin -7px 5px
    transition transform 0.15s ease-in-out
    path, rect
      transition fill 0.15s ease-in-out

.btn:first-child
  *margin-left 0

// disabled
input[type="submit"].btn.btn-disabled,
button.btn.btn-disabled,
a.btn.btn-disabled
  background-color lighten($black, 90%)
  border-color lighten($black, 90%)
  color $white
  cursor default
  &:hover, &:visited
    background-color $white
    background-color lighten($black, 90%)
    border-color lighten($black, 90%)
  &[data-state='loading'],
  &.is-loading
    color $white
    &:after
      display none

//btn-primary
.btn.btn-primary
  color $white
  > svg
    .fillable
      fill $white
  &.btn-red
    background-color $red
    border-color $red
  &.btn-red:hover
    background-color $red-darker
    border-color $red-darker
  &.btn-red.btn-colored-bg
    background-color $white
    border-color $white
    color $red
    > svg
      .fillable
         fill $red
  &.btn-red.btn-colored-bg:hover
    background-color $gray-lightest
    border-color $gray-lightest
  &.btn-navy
    background-color $navy-dark
    border-color $navy-dark
  &.btn-navy:hover
    background-color $navy-darker
    border-color $navy-darker
  &.btn-navy.btn-colored-bg
    background-color $white
    border-color $white
    color $navy-dark
    > svg
      .fillable
         fill $navy-dark
  &.btn-navy.btn-colored-bg:hover
    background-color $gray-lightest
    border-color $gray-lightest

//btn-secondary
.btn.btn-secondary
  background-color transparent
  color $black
  border-color $black
  > svg
    .fillable
      fill $black
  &:hover
    color $black
    border-color $black
    background-color transparent
    > svg
      .fillable
        fill $black
  &.btn-red
    background-color transparent
    border-color $red
    color $red
    > svg
      .fillable
        fill $red
  &.btn-red:hover
    border-color $red-darker
    color $red-darker
    > svg
      .fillable
        fill $red-darker
  &.btn-navy
    background-color transparent
    border-color $navy-dark
    color $navy-dark
    > svg
      .fillable
        fill $navy-dark
  &.btn-navy:hover
    border-color $navy-darker
    color $navy-darker
    > svg
      .fillable
        fill $navy-darker
  &.btn-colored-bg
    border-color $white
    color $white
    > svg
      .fillable
        fill $white
  &.btn-colored-bg:hover
    color $gray-lightest
    border-color $gray-lightest
    background-color transparent
    > svg
      .fillable
        fill $gray-lightest

// btn-cta
.btn.btn-cta
  background-color $white
  &:hover
    background-color $white
    transform translate(0, 4px)
  &.btn-colored-bg
    border-color $white
    color $white
    box-shadow 4px 4px 0 0 $white
    > svg
      .fillable
        fill $white
  &.btn-colored-bg:hover
    border-color $gray-lightest
    color $gray-lightest
    box-shadow 0 0 0 0 $gray-lightest
    > svg
      .fillable
        fill $gray-lightest
  &.btn-red
    border-color $red
    color $red
    box-shadow 4px 4px 0 0 $red
    > svg
      .fillable
        fill $red
  &.btn-red:hover
    border-color $red-darker
    color $red-darker
    box-shadow 0 0 0 0 $red-darker
    > svg
      .fillable
        fill $red-darker
  &.btn-red.btn-colored-bg
    background-color $red
    border-color $white
    color $white
    box-shadow 4px 4px 0 0 $white
    > svg
      .fillable
        fill $white
  &.btn-red.btn-colored-bg:hover
    border-color $gray-lightest
    color $gray-lightest
    box-shadow 0 0 0 0 $gray-lightest
    > svg
      .fillable
        fill $gray-lightest
  &.btn-navy
    border-color $navy-dark
    color $navy-dark
    box-shadow 4px 4px 0 0 $navy-dark
    > svg
      .fillable
        fill $navy-dark
  &.btn-navy:hover
    border-color $navy-darker
    color $navy-darker
    box-shadow 0 0 0 0 $navy-darker
    > svg
      .fillable
        fill $navy-darker
  &.btn-navy.btn-colored-bg
    background-color $navy-dark
    border-color $white
    color $white
    box-shadow 4px 4px 0 0 $white
    > svg
      .fillable
        fill $white
  &.btn-navy.btn-colored-bg:hover
    border-color $gray-lightest
    color $gray-lightest
    box-shadow 0 0 0 0 $gray-lightest
    > svg
      .fillable
        fill $gray-lightest

// btn-tgl
.btn.btn-tgl
  height 32px
  width 50px
  &:after
    content ''
    position absolute
    top 4px
    left 16px
    width 12px
    height 12px
    cursor pointer
    border 2px solid $white
    border-top none
    border-right none
    transform rotate(-45deg) translateZ(0)
    transition all 0.15s ease-in-out
  &:hover:after
    top 6px
  &.btn-colored-bg
    background-color $white
    border-color $white
  &.btn-red.btn-colored-bg:after
    border 2px solid $red
    border-top none
    border-right none
  &.btn-navy.btn-colored-bg:after
    border 2px solid $navy-dark
    border-top none
    border-right none
// sizes
input[type="submit"].btn.btn-lg,
input[type="submit"].btn.btn-lg:visited,
button.btn.btn-lg, button.btn.btn-lg:visited,
a.btn.btn-lg, a.btn.btn-lg:visited
  padding 18px 30px
  line-height 1
  font-size 20px
  letter-spacing 2px
  border-width 4px
  &[data-state='loading'],
  &.is-loading
    transform none
    &:after
      spinner(16px, 4px)
  &[data-icon][data-icon-align='left']
    > svg
      margin-right 8px
  &[data-icon][data-icon-align='right']
    > svg
      margin-left 8px
  > svg
    height 28px
    width 28px
    margin -4px 0

input[type="submit"].btn.btn-sm,
input[type="submit"].btn.btn-sm:visited,
button.btn.btn-sm, button.btn.btn-sm:visited,
a.btn.btn-sm, a.btn.btn-sm:visited
  padding 7px 20px
  line-height 1
  font-size 12px
  border-width 2px
  &[data-state='loading'],
  &.is-loading
    transform none
    &:after
      spinner(16px, 4px)
  &[data-icon][data-icon-align='left']
    > svg
      margin-right 5px
      margin-left -5px
  &[data-icon][data-icon-align='right']
    > svg
      margin-right -5px
      margin-left 5px
  > svg
    height 14px
    width 14px
    margin -1px 0

// full width
input[type="submit"].btn.btn-full-width,
input[type="submit"].btn.btn-full-width:visited,
button.btn.btn-full-width,
a.btn.btn-full-width
  width 100%
  display block
