//
// Forms
// --------------------------------------------------
.form-control
  border 2px solid $input-border
  &:focus
    box-shadow none

// Custom radio style
input[type=radio]
  display none
.radio-inline + .radio-inline
  margin-left 14px

.radio-inline label,
.radio label
  padding-left 6px
  line-height 20px
  cursor pointer

.radio-inline label:before,
.radio label:before
  content ''
  display inline-block
  width 20px
  height 20px
  position absolute
  top 0
  left 0
  background-color $white
  border 2px solid $black
  border-radius 10px
  cursor pointer

input[type=radio] + label:after
  content ''
  display inline-block
  width 10px
  height 10px
  position absolute
  top 5px
  left 5px
  background-color $black
  border-radius 5px
  cursor pointer
  opacity 0
  transition opacity 0.25s

input[type=radio]:checked + label:after
  opacity 1

// Custom checkbox
input[type=checkbox]
  display none

.checkbox-inline + .checkbox-inline
  margin-left 14px

.checkbox-inline label,
.checkbox label
  min-height 25px
  line-height 25px
  padding-left 32px

.checkbox-inline label:before,
.checkbox label:before
  content ''
  display inline-block
  width 25px
  height 25px
  position absolute
  top 0
  left 0
  background-color $white
  border 2px solid $black
  cursor pointer

input[type=checkbox] + label:after
  content ''
  position absolute
  top 7px
  left 6px
  width 13px
  height 8px
  cursor pointer
  border 3px solid $black
  border-top none
  border-right none
  opacity 0
  transform rotate(-45deg) translateZ(0)
  transition opacity 0.25s

input[type=checkbox]:checked + label:after
  opacity 1

// Custom select
.select-control
  position relative
.select-control select
  -webkit-appearance none
  -moz-appearance none
  appearance none
  outline none
  -webkit-border-radius 0
  border-radius 0
  &:hover
    cursor pointer
.select-control:before
  display block
  position absolute
  content ''
  top 8px
  right 2px
  bottom 8px
  width 40px
  background-color $white
  border-left 1px solid $black
  pointer-events none
.select-control:after
  display inline-block
  content ''
  width 0
  height 0
  border-top 8px solid $black
  border-right 8px solid transparent
  border-left 8px solid transparent
  position absolute
  top 50%
  right 13px
  margin-top -4px
  pointer-events none

// Custom file input
input[type="file"]
  padding 0
  -webkit-padding-before 12px
.file-upload-label
  position relative
  padding 0
  &:hover
    cursor pointer
.file-upload-control
  position relative
  input[type="file"]
    display none
  &:after
    display inline-block
    content ''
    background-image url(http://cdn.flaticon.com/png/256/70440.png)
    background-size 20px 20px
    background-repeat no-repeat
    width 20px
    height 20px
    position absolute
    top 50%
    right 10px
    margin-top -8px
    pointer-events none
    opacity 1
    transition opacity 0.25s
  .file-upload-progress-bar
  .file-upload-progress
    display none
  &[data-state="loading"]:after
    opacity 0
  &[data-state="loading"]
    .file-upload-progress-bar
      display block
      position absolute
      left 0
      top 0
      height 100%
      text-align right
      background-color $gray-lighter
    .file-upload-progress
      display block
      position absolute
      top 0
      right 10px
      line-height $input-height-base

// Required input label
label.required
  &:after
    content: '*';
    color: $red;
    margin: 0 10px 0 3px;
