@import "./faux_underline"

body
  font-family "Helvetica Neue", Helvetica, Arial, "Hiragino Sans GB", "\5FAE\8EDF\6B63\9ED1\9AD4", sans-serif
  padding-bottom 100px

body.no-scroll
  overflow hidden

a
  color $gray-darker

a:hover, a:active
  cursor pointer
  color $black

// Required Field *
.form-group.required .control-label:after
  color $red
  content "*"
  position absolute
  margin-left 5px
