//
// Panels
// --------------------------------------------------
.panel
  margin-bottom 20px
  background-color $white

.panel-body
  padding 20px 25px
  background-color $white

.panel-heading
  padding 12px 24px
  color $white
  .panel-title  
    font-size 18px
    line-height 24px
  .panel-widget
    float right
    line-height 24px
    a
      color $white
      cursor pointer
.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a
  color inherit
.panel-default > .panel-heading
  background-color: $gray-darkest
.panel-red > .panel-heading
  background-color: $red
.panel-gray > .panel-heading
  background-color: $gray