//
// Panels
// --------------------------------------------------
.panel
  margin-bottom 20px
  background-color $white

.panel-body
  padding 15px
  background-color $white

.panel-heading
  padding 15px 24px
  font-size 18px
  color: $white

.panel-title > a,
.panel-title > small,
.panel-title > .small,
.panel-title > small > a,
.panel-title > .small > a
  color inherit
.panel-default > .panel-heading
  background-color: $gray-darkest
.panel-red > .panel-heading
  background-color: $red
.panel-gray > .panel-heading
  background-color: $gray