.panel
  margin-bottom 30px

  .panel-header,
  .panel-content
    padding 15px 20px

  .panel-header
    background-color $gray
    font-size 16px
    letter-spacing .2em

  .panel-content
    background-color $white

  &.panel-bordered
    border 2px solid $gray

.panel.panel-primary,
.panel.panel-secondary,
.panel.panel-disabled
  .panel-header
    &, a
      color $white
    a:hover
      color $gray-lightest
    .action-list
      li > a:before
        border-bottom-color $white
      li > a:hover:before
        border-bottom-color $gray-lightest

.panel.panel-primary
  .panel-header
    background-color $brand-primary
  &.panel-bordered
    border-color $brand-primary

.panel.panel-secondary
  .panel-header
    background-color $gray-darkest
  &.panel-bordered
    border-color $gray-darkest

.panel.panel-disabled
  .panel-header
    background-color $gray
  &.panel-bordered
    border-color $gray
