.table
  > thead, > tbody, > tfoot
    > tr
      > th, > td
        &.table-cell-image
          width 150px
          height 150px
        > img
          width 100%
  // Bottom align for column headings
  > thead > tr > th
    border-bottom-width 1px

.table-dotted
  > thead, > tbody, > tfoot
    > tr
      > th, > td
        border-bottom 1px dotted $black
        // Hack to fix the weird rendering issue of dotted border between table cells.
        // http://stackoverflow.com/questions/10838223/webkit-renders-last-px-of-border1px-dotted-oddly
        border-right 1px solid transparent
        border-top none
  > thead:first-child
    > tr:first-child
      > th
        border-top 1px solid $black

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped
  > thead > tr
  > tbody > tr:nth-of-type(even)
    background-color $table-bg-accent
  > tbody > tr:nth-of-type(odd)
    background-color transparent
  // Remove border

.table-no-row-border
  > thead, > tbody, > tfoot
    > tr
      > th, > td
        border-top none
  > thead > tr > th
    border-bottom none
