.table
  > thead, > tbody, > tfoot
    > tr
      > th, > td
        &.image
          width 180px
        > img
          width 100%

.table-dotted
  > thead, > tbody, > tfoot
    > tr
      > th, > td
        border-bottom 2px dotted $table-border-color
        border-top none
