// Bootstrap variables
@import "bootstrap_variables_overrides"
@import "bootstrap/variables"

// Custom variables

//
// Colors
// --------------------------------------------------

$gray-lightest    = #eaeaea
$gray-lighter     = #e5e5e5
$gray-light       = #dbdbdb
$gray             = #cccccc
$gray-dark        = #999999
$gray-darker      = #666666
$gray-darkest     = #333333
$red              = #fd5650
$red-darker       = #f53c36
$navy             = #3f5562
$navy-dark        = #2f3c46
$navy-darker      = #17222b
$white            = #fff
$black            = #000

$brand-primary    = $red
$brand-secondary  = $navy

//
// Override Nib variables
// --------------------------------------------------
flex-version = flex
