body {
  font-family: 'Helvetica', 'Arial', 'sans-serif';
  color: #444;
  padding: 10px 100px;
  line-height: 1.4em;
}
h1,
h2 {
  text-align: center;
}
h1 {
  font-size: 21px;
  margin-bottom: 20px;
}
h2 {
  font-weight: normal;
  font-size: 18px;
}
#commits-list {
  width: 600px;
  margin: 20px auto;
}
#commits-list li {
  margin: 20px;
}
.search-input {
  border: 1px solid #eee;
  padding: 10px;
  width: 500px;
  margin: 0 auto;
  display: block;
  font-size: 16px;
}
.bordered-dropdown {
  display: inline-block;
  width: 200px;
  position: relative;
  border: 2px solid #ccc;
}
.bordered-dropdown:hover > .bordered-dropdown-options {
  display: block;
  border-color: #666;
}
.bordered-dropdown.is-disabled .bordered-dropdown-toggle {
  cursor: default;
  color: #333;
}
.bordered-dropdown-toggle,
.bordered-dropdown-options > a {
  display: block;
  padding: 8px 10px 6px;
}
.bordered-dropdown-toggle > .bordered-dropdown-toggle-caret {
  float: right;
  padding-left: 5px;
  border-left: 1px solid #ccc;
}
.bordered-dropdown-toggle > .bordered-dropdown-toggle-caret > .caret {
  display: inline-block;
  content: '';
  width: 0;
  height: 0;
  vertical-align: middle;
  border-top: 8px solid;
  border-right: 4px solid transparent;
  border-left: 4px solid transparent;
  margin: 2px 0 4px 4px;
  color: #666;
}
.bordered-dropdown-options {
  display: none;
  position: absolute;
  background: #fff;
  border: 2px solid #ccc;
  top: -2px;
  left: -2px;
  right: -2px;
  z-index: 2;
}
.bordered-dropdown-options > a {
  text-decoration: none;
  overflow: ellipsis;
}
.bordered-dropdown-options > a:hover {
  background-color: #eee;
}
.bordered-dropdown-options > a.is-active {
  color: #f00;
}
.bordered-dropdown-label {
  margin-right: 10px;
}
