.help-tooltip
  display inline-block
  cursor help
  margin 0 0.3em
  &:before
    content '?'
    display inline-block
    width 1em
    height @width
    border-radius 50%
    line-height 1
    font-weight bold
    text-align center
    color white
    background-color $red
    z-index 2
