include ../../../components/buttons/index

.modal.modal-confirm.modal-order-confirmation
  .modal-actions
    button.remodal-close( data-remodal-action='close' )
  .modal-header
    h3 訂單網址
  .modal-content
    p
      | 訂單完成後，請將此網址傳給買家進行確認。
      | 買家確認後即可進行付款。
    pre
      = url
  .modal-footer
    +button("button", "確定")(class="btn btn-sm btn-primary btn-navy" data-icon="button-arrow" data-remodal-action="confirm")
