# This is an exmpale of config for different env, e.g. staging, production.
# Copy this file to another config-[RUDY_ENV].coffee, e.g. config-staging.coffee.
# Modify the values as needed. They will override the default config in
# config.coffee.

module.exports =
  
  API_URL                 : "http://stagingapi.takoman.co"
  APP_NAME                : 'Rudy'
  APP_URL                 : "http://staging.takoman.co"
  ASSET_PATH              : "/assets/"
  COOKIE_DOMAIN           : null
  FACEBOOK_ID             : '302847289879647'
  FACEBOOK_SECRET         : '2fea10f1093a56b1999bcc14124f1b25'
  GOOGLE_ANALYTICS_ID     : null
  NEW_RELIC_LICENSE_KEY   : null
  NODE_ENV                : 'staging'
  PORT                    : 4000
  SESSION_SECRET          : 'F0rc3'
  SESSION_COOKIE_MAX_AGE  : 31536000000
  SESSION_COOKIE_KEY      : 'rudy.sess'
  TAKOMAN_ID              : '55050a745ff16a8114b8'
  TAKOMAN_SECRET          : '752dc05799b6fec555f5436a512fccdb'
