extends ../../../components/main_layout/templates/index
include ../../../components/search/mixin
include ../../../components/bordered_dropdown/mixin

append locals
  - assetPackage = 'auth'
  - bodyClass = 'auth'

block head
  title Log in to Takoman

block body
  .container.is-constrained
    .alert.alert-info
      if user
        | Logged in as #{user.get('email')}
      else
        | Not logged in

    .brand
      include ../../../components/main_layout/public/svgs/takoman.svg

    .auth
      include ../../../components/auth/templates/index
