#checkout-header
  height 398px
  background-color #FD5650
  transition background-color 1000ms linear
  .navbar
    .brand
      position absolute
      width 100%
      left 0
      top 19px
      text-align center
      margin auto
      img
        width 168px
        height 68px
    .navbar-text
      margin-top 24px
      color #ffffff
      font-size 12px
      a
        color #ffffff
        margin-left 14px
        margin-right 14px
        letter-spacing 0.2em
  .checkout-steps
    margin-top 62px
    .step
      position relative
      text-align center
      color #ffffff
      img
        width 200px
        max-width 100%
      .caption-step
        padding-top 10px
        letter-spacing 0.2em
        line-height 20px
        font-size 9px
      .caption-desc
        letter-spacing 0.2em
        line-height 20px
      .arrow-block
        position absolute
        top 70px
        right -10px
        width 20px
        height 22px
        text-align center
        img
          width 20px
          height 22px
  @media (max-width: 991px)
    .checkout-steps
      width 100%