@import '../main_layout/stylesheets/variables'
@import 'nib'

.checkout-header
  height 400px
  color $white
  background-color $red
  transition background-color .5s ease-in-out
  position relative
  .brand
    width 100%
    text-align center
    svg
      width 80px
      height 80px
    @media (min-width $screen-sm-min)
      position absolute
  .navbar
    margin-bottom 80px
  .navbar-nav
    margin-right 20px
    > li
      &:not(:last-child) > a
        &:after
          content '|'
          margin 0 10px
      > a
        color $white
        line-height $navbar-height
        padding 0
        &:hover
          background-color transparent
          text-decoration underline
  .checkout-steps
    .step
      position relative
      text-align center
    .step-image
      margin-bottom 20px
      svg
        width 50%
        height 50%
    .step-arrow
      position absolute
      top 25%
      right - ($grid-gutter-width / 2)
      svg
        width 20px
        height 20px
