#checkout-header
  height 398px
  background-color #FD5650
  .navbar
    .brand
      position absolute
      width 100%
      left 0
      top 19px
      text-align center
      margin auto
      img
        width 168px
        height 68px
    .navbar-text
      margin-top 24px
      color #ffffff
      font-size 12px
      a
        color #ffffff
        margin-left 14px
        margin-right 14px
        letter-spacing 0.2em
  .steps
    width 1000px
    max-width 100%
    margin 62px auto 0 auto
    .step-block
      float left
      width 19%
      height 200px
      img
        max-width 100%
      .caption-step
        display block
        padding-top 10px
        color #ffffff
        text-align center
        letter-spacing 0.2em
        line-height 20px
        font-size 9px
      .caption-desc
        display block
        color #ffffff
        text-align center
        letter-spacing 0.2em
        line-height 20px
    .arrow-block
      float left
      width 8%
      height 200px
      text-align center
      line-height 160px
      img
        width 20px
        height 22px