include ../../../components/buttons/index

.invoice-confirmation
  .container
    - var due = moment(invoice.get('due_at'));
    if invoice.get('status') != 'unpaid'
      .notice 這份訂單已經失效。如果您有任何問題，請與 <a href="mailto:it@takoman.co">it@takoman.co</a> 聯絡。
    else if moment() > due.endOf('day')
      .notice 這份訂單已經超過繳費期限。如果您來不及繳費，請與您的賣家聯絡，重新建立一份訂單。
    else
      .col-sm-6
        .panel.invoice-summary-panel
          .merchant-summary
            .merchant-logo
              img
            .merchant-source-countries
              = merchant.get('source_countries').join(", ")
            .merchant-name
              = merchant.get('merchant_name')
            .merchant-actions
              +button("a", "聯絡賣家")(class="btn btn-sm btn-secondary btn-navy", data-icon="button-arrow" )
          .invoice-summary
            .invoice-summary-item
              .invoice-summary-item-label 訂單編號
              .invoice-summary-item-content
                .invoice-summary-item-value
                  = invoice.get('invoice_no')
            .invoice-summary-item.invoice-due-at
              .invoice-summary-item-label 訂單保留期限
              .invoice-summary-item-content
                .invoice-summary-item-value
                  | #{due.year()} 年 #{due.month() + 1} 月 #{due.date()} 日
            .invoice-summary-item
              .invoice-summary-item-label 附註
              .invoice-summary-item-content
                p
                  | 特定商品的折扣有期限，
                  | 請於指定日期內完成付款。
                  | 若超過繳費期限，請通知您的賣家，
                  | 另外建立一張訂單。
      .col-sm-18
        .table-responsive
          table.table.table-dotted.invoice-line-items-table
            thead
              tr
                th 商品
                th
                th 單價
                th 數量
                th 小計
            tbody
              each item in invoiceLineItems.models
                tr( data-invoice-line-item-id=item.get('_id') )
                  td.table-cell-image.invoice-line-item-image
                    unless item.get('order_line_item') && item.get('order_line_item')['type'] == 'product'
                      include ../../../components/main_layout/public/svgs/product.svg
                  td.invoice-line-item-details
                    .invoice-line-item-brand
                    .invoice-line-item-title
                      unless item.get('order_line_item') && item.get('order_line_item')['type'] == 'product'
                        = item.title()
                  td.invoice-line-item-price
                    = acct.formatMoney(item.get('price'))
                  td.invoice-line-item-quantity
                    = item.get('quantity')
                  td.invoice-line-item-subtotal
                    = acct.formatMoney(item.get('price') * item.get('quantity'))
        .row
          .col-sm-10.col-sm-offset-14
            include ./invoice_total_summary
            .invoice-actions
              +button("a", "前往結賬")(class="btn btn-lg btn-cta btn-red btn-full-width confirm-invoice", data-icon="button-arrow")
