extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'invoice'
  - bodyClass = 'invoices-show'

append head
  title Takoman Invoice

block body
  .invoice-checkout-banner
    include ../../../components/checkout_header/template
  .invoice-content
    unless step
      include ./confirmation
