.total-summary.invoice-total-summary
  .total-summary-breakdown
    .total-breakdown-item.invoice-product-subtotal
      .total-breakdown-label 商品總額
      .total-breakdown-amount
        = acct.formatMoney(invoiceLineItems.total('product'))
    .total-breakdown-item.invoice-shipping-subtotal
      .total-breakdown-label 運費
      .total-breakdown-amount
        = acct.formatMoney(invoiceLineItems.total('shipping'))
    .total-breakdown-item.invoice-commission-subtotal
      .total-breakdown-label 代買費
      .total-breakdown-amount
        = acct.formatMoney(invoiceLineItems.total('commission'))
    .total-breakdown-item.invoice-discount-subtotal
      .total-breakdown-label 優惠折扣
      .total-breakdown-amount
        | --
  .total-summary-total
    .total-breakdown-item
      .total-breakdown-label 總計
      .total-breakdown-amount
        = acct.formatMoney(invoiceLineItems.total())
