.invoice-shipping
  .container
    .col-sm-16
      .panel.panel-secondary.invoice-shipping-info
        .panel-header 1. 訂購資料
        .panel-content
          form
            .form-group
              label( for="full-name" ) 姓名
              input#full-name.form-control( name="name", type="text", placeholder="您的姓名", required )
            .form-group
              label( for="country" ) 國家
              select#country.form-control( name="country", required )
                each c in countries
                  option( value=c[0] )= c[1]
            .form-group
              label( for="city" ) 縣市
              #city( data-role="county", data-name="city", data-style="form-control" )
            .form-group
              label( for="district" ) 鄉鎮區
              #district( data-role="district", data-style="form-control" )
            .form-group
              label( for="address" ) 地址
              input#address.form-control( name="address", type="text", placeholder="地址" )
            .form-group
              label( for="zipcode" ) 郵遞區號
              #zipcode( data-role="zipcode", data-style="form-control" )
            .form-group
              label( for="phone-number" ) 電話
              input#phone-number.form-control( name="phone-number", type="text", placeholder="您的聯絡電話" )
            .form-group
              label( for="email" ) 電子信箱
              input#email.form-control( name="email", type="email", placeholder="您的 email" )
            .from-group
              label( for="notes" ) 備註
              textarea#notes.form-control( name="notes", rows="3" )
            button.btn.btn-primary( type="submit" ) 繼續下一步
      .panel.panel-disabled.invoice-payment
        .panel-header 2. 歐付寶付款
    .col-sm-8
      .panel.panel-secondary.invoice-total-summary
        .panel-header 購物總額
        .panel-content
          include ./invoice_total_summary_mixin
          +invoice-total-summary(invoice, invoiceLineItems)
      .panel.panel-secondary.invoice-product-items
        .panel-header
          | 購物車 ( #{invoiceLineItems.numberOfProducts()} 項商品)
        .panel-content
          .table-responsive
            table.table.table-dotted.invoice-line-items-table
              tbody
                each item in invoiceLineItems.models
                  if item.get('order_line_item').type == 'product'
                    tr( data-invoice-line-item-id=item.get('_id') )
                      td.table-cell-image.invoice-line-item-image
                      td.invoice-line-item-details
                        .invoice-line-item-brand
                        .invoice-line-item-title
                        .invoice-line-item-quantity
                          | 數量：
                          = item.get('quantity')
                        .invoice-line-item-price
                          | 單價：NT.
                          = item.get('price')
                        .invoice-line-item-subtotal
                          | 小計：NT.
                          = item.get('price') * item.get('quantity')
