include ../../../components/buttons/index

.invoice-shipping
  .container
    .col-sm-16
      .panel.panel-secondary.panel-bordered.invoice-shipping-info
        .panel-header 1. 訂購資料
        .panel-content
          .row
            .col-md-12
              form.form-contact-and-shipping
                .form-group.required
                  label.control-label( for="full-name" ) 姓名
                  input#full-name.form-control( name="name" type="text" placeholder="您的姓名" required autofocus)
                .form-group.required
                  label.control-label( for="email" ) 電子信箱
                  input#email.form-control( name="email" type="email" placeholder="您的 email" required)
                .form-group.required
                  label.control-label( for="country" ) 國家
                  .select-control
                    select#country.form-control( name="country" required )
                      each c in countries
                        option( value=c[0] )= c[1]
                .form-group.required
                  label.control-label( for="city" ) 縣市
                  .select-control
                    #city( data-role="county" data-name="city" data-style="form-control" required )
                .form-group.required
                  label.control-label( for="district" ) 鄉鎮區
                  .select-control
                    #district( data-role="district" data-style="form-control" required )
                .form-group.required
                  label.control-label( for="address" ) 地址
                  input#address.form-control( name="address" type="text" placeholder="地址" required )
                .form-group.required
                  label.control-label( for="zipcode" ) 郵遞區號
                  #zipcode( data-role="zipcode" data-style="form-control" required)
                .form-group
                  label.control-label( for="phone" ) 電話
                  input#phone.form-control( name="phone" type="text" placeholder="您的聯絡電話" )
                //-.form-group
                //-  label.control-label( for="notes" ) 備註
                //-  textarea#notes.form-control( name="notes" rows="3" )
                .form-group
                  +button("button", "前往付款")(class="btn btn-cta btn-red submit-shipping", data-icon="button-arrow", type="submit")
      .panel.panel-disabled.panel-bordered.invoice-payment
        .panel-header 2. 歐付寶付款
    .col-sm-8
      .panel.panel-secondary.panel-bordered.invoice-total-summary
        .panel-header 購物總額
        .panel-content
          include ./invoice_total_summary
      .panel.panel-secondary.panel-bordered.invoice-product-items
        .panel-header
          | 購物車 ( #{invoiceLineItems.numberOfProducts()} 項商品)
        .panel-content
          .table-responsive
            table.table.table-dotted.invoice-line-items-table
              tbody
                each item in invoiceLineItems.models
                  if item.get('order_line_item').type == 'product'
                    tr( data-invoice-line-item-id=item.get('_id') )
                      td.table-cell-image.invoice-line-item-image
                      td.invoice-line-item-details
                        .invoice-line-item-brand
                        .invoice-line-item-title
                        .invoice-line-item-quantity
                          | 數量：
                          = item.get('quantity')
                        .invoice-line-item-price
                          | 單價：NT.
                          = item.get('price')
                        .invoice-line-item-subtotal
                          | 小計：NT.
                          = item.get('price') * item.get('quantity')
