@import "../../../components/main_layout/stylesheets"

html
body
.style-guide-container
.style-guide-sidebar
  height 100%

.style-guide-container
  padding 0

.style-guide-sidebar
.style-guide-content
  padding-top 100px

.style-guide-sidebar
  make-xs-column(24)
  text-align right
  background-color $brand-secondary
  color $white
  padding-right 3%
  @media (min-width $screen-sm-min)
    make-sm-column(6)
    position fixed

.style-guide-content
  make-xs-column(24)
  make-sm-column(18)
  make-sm-column-offset(6)
  padding-left 3%
  padding-right 10%

.style-guide-nav
  display inline-block
  text-align left
  padding 20px

pre
  font-size 11px
  text-align left

.style-guide-container

  .style-guide-nav
    a, a:hover, a:active
      color $white

  .color-sample
    padding 10px
    .color-swatch
      border 1px solid $gray-lighter
      border-radius 3px
      height 70px
    code
      color $gray-dark
      background-color $gray-lightest

  .grid-sample
    .row
      margin-bottom 10px
    .row [class^=col-]
      padding-top 10px
      padding-bottom 10px
      background-color $gray-lighter
      border: 1px solid $gray-darker
      text-align center

  .component-section
    margin-bottom 150px

  .component-subsection
    margin-bottom 30px

  .button-sample
    padding 15px 0
    .btn
      margin-bottom 1em

  .colored-bg
    padding 20px
    color $white
    h1, h2, h3, h4
      color $white
    pre
      background-color transparent
      color $white
      border 1px solid $white
    &.bg-red
      background-color $red
    &.bg-navy
      background-color $navy-dark
