form.s3-upload-form( action="", method="post", enctype="multipart/form-data" )
  input( type="hidden", name="key" )
  input( type="hidden", name="AWSAccessKeyId" )
  input( type="hidden", name="acl" )
  input( type="hidden", name="policy" )
  input( type="hidden", name="signature" )
  input( type="hidden", name="success_action_status", value="201" )
  input( type="hidden", name="Content-Type" )
  input.file-input( name="file", type="file" )
