@media only screen and (min-width: 641px)
  .modal-confirm
    max-width 500px

.modal-confirm
  &
    padding-top 0

  .modal-header, .modal-content
    margin-bottom 30px

  .modal-header
    padding 15px 30px
    margin 0 -35px 30px -35px
    background-color $red
    color $white
    text-align left

  .modal-header h3
    margin 0
    font-size 20px
    line-height 1em

  .modal-content
    text-align left

  .remodal-close
    top 0
    right 0
    left auto

  .remodal-close:before
    font-size 24px
    color $white
    line-height 50px
