extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'payment'
  - bodyClass = 'payment'

append head
  title Takoman Payment

block body
  h1 Payment Confirmation
