extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'payment'
  - bodyClass = 'payment'

append head
  title Takoman Payment

block body
  if invoice.isUnpaid() && invoicePayment.isOffline()
    include ./offline_payment_confirmation
  else if invoice.isPaid()
    include ./payment_confirmation
  else
    // We shouldn't get here
