extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'dashboard'

block head
  title Order Creation

block body
  .container
    .col-md-12
      h2 建立訂單
      div.form-horizontal
        div( id="step1-block" )
          legend Step 1. 設定外幣
          .form-group
            label.col-md-2.control-label( for="currency_source" ) 選擇外幣
            .col-md-6
              select.form-control( id="currency-source" name="currency_source")
                option( value="TWD" id="currency-TWD" ) TWD
                option( value="AED" id="currency-AED" ) AED
                option( value="ARS" id="currency-ARS" ) ARS
                option( value="AUD" id="currency-AUD" ) AUD
                option( value="BRL" id="currency-BRL" ) BRL
                option( value="CAD" id="currency-CAD" ) CAD
                option( value="CHF" id="currency-CHF" ) CHF
                option( value="CNY" id="currency-CNY" ) CNY
                option( value="COP" id="currency-COP" ) COP
                option( value="EUR" id="currency-EUR" ) EUR
                option( value="GBP" id="currency-GBP" ) GBP
                option( value="HKD" id="currency-HKD" ) HKD
                option( value="IDR" id="currency-IDR" ) IDR
                option( value="ILS" id="currency-ILS" ) ILS
                option( value="INR" id="currency-INR" ) INR
                option( value="ISK" id="currency-ISK" ) ISK
                option( value="JPY" id="currency-JPY" ) JPY
                option( value="KRW" id="currency-KRW" ) KRW
                option( value="MXN" id="currency-MXN" ) MXN
                option( value="NZD" id="currency-NZD" ) NZD
                option( value="PHP" id="currency-PHP" ) PHP
                option( value="RUB" id="currency-RUB" ) RUB
                option( value="SGD" id="currency-SGD" ) SGD
                option( value="SZL" id="currency-SZL" ) SZL
                option( value="TRY" id="currency-TRY" ) TRY
                option( value="USD" id="currency-USD" ) USD
                option( value="VND" id="currency-VND" ) VND
                option( value="ZAR" id="currency-ZAR" ) ZAR

          .form-group
            label.col-md-2.control-label( for="exchange_rate" ) 對台幣匯率
            .col-md-6
              input.form-control( id="exchange-rate", name="exchange_rate" type="text" placeholder="填入數字，如：31.33" requred="required")
          .form-group
            .col-md-6.col-md-offset-2
              button.btn.btn-danger( id="btn-set-exchange-rate" type="button" ) 設定
        .well( id="currency-msg" ) 還未設定外幣匯率

      div( id="step2-block" style="display:none;")
        form.form-horizontal
          legend Step 2. 建立訂單內容
          #order-data(style="margin: 20px 0;")
          .btn-group(style="margin: 20px 0;")
            button.btn.btn-default( id="btn-add-product" type="button" ) 新增商品
            button.btn.btn-default( id="btn-add-commission" type="button" ) 新增手續費
            button.btn.btn-default( id="btn-add-shipping" type="button" ) 新增運費
          hr
          .form-group
            label.col-md-2.control-label( for="notes" ) 附註
            .col-md-10
              textarea.form-control( id="notes", name="notes" type="text" placeholder="訂單附註說明" )
          p
            button.btn.btn-danger( id="order-submit" type="button" ) 送出