extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'dashboard'

block head
  title Order Creation

block body
  #left-bar( style="position:fixed; width: 264px; height: 1200px; background:#333333;" )
  div( style="padding-left:264px;")
    #top-bar( style="position: relative; height:50px; background: #f4f4f4;" )
    div
      .row
        .col-md-22.col-md-offset-1
          ol.breadcrumb
            li
              a( href="#") 訂單清單
            li
            | 新增訂單
      .row
        .col-md-22.col-md-offset-1
          h1.pull-left( style="font-size: 24px; font-weight: bold;" ) 新增訂單
          .pull-right( style="margin-top: 20px;")
            a.btn.btn-secondary.btn-tiny 取消訂單
            a.btn.btn-disabled.btn-tiny 儲存訂單
          .clearfix
      .row
        .form
          .col-md-6.col-md-offset-1
            .panel.panel-red
              .panel-heading 訂單資訊
              .panel-body
                .form-group
                  label 訂單編號
                  p.form-control-staticemail 12345678
                .form-group
                  label 訂單保留期限
                  p.form-control-staticemail 2015/04/15
                .form-group
                  label.control-label( for="notes" ) 附註
                  textarea.form-control( id="notes", name="notes" type="text" placeholder="訂單附註說明" rows="5")
          .col-md-16
            .panel.panel-default
              .panel-heading
                .panel-title.pull-left STEP 1. 訂單匯率
                .panel-widget
                  a#edit-step1( style="display:none;" ) 修改
                .clearfix
              .panel-body
                #step1-block-1
                  .form-group
                    label( for="currency_source" ) 選擇貨幣 *
                    .row
                      .col-md-12
                        select.form-control( id="currency-source" name="currency_source")
                          option( value="TWD" id="currency-TWD" ) TWD
                          option( value="AED" id="currency-AED" ) AED
                          option( value="ARS" id="currency-ARS" ) ARS
                          option( value="AUD" id="currency-AUD" ) AUD
                          option( value="BRL" id="currency-BRL" ) BRL
                          option( value="CAD" id="currency-CAD" ) CAD
                          option( value="CHF" id="currency-CHF" ) CHF
                          option( value="CNY" id="currency-CNY" ) CNY
                          option( value="COP" id="currency-COP" ) COP
                          option( value="EUR" id="currency-EUR" ) EUR
                          option( value="GBP" id="currency-GBP" ) GBP
                          option( value="HKD" id="currency-HKD" ) HKD
                          option( value="IDR" id="currency-IDR" ) IDR
                          option( value="ILS" id="currency-ILS" ) ILS
                          option( value="INR" id="currency-INR" ) INR
                          option( value="ISK" id="currency-ISK" ) ISK
                          option( value="JPY" id="currency-JPY" ) JPY
                          option( value="KRW" id="currency-KRW" ) KRW
                          option( value="MXN" id="currency-MXN" ) MXN
                          option( value="NZD" id="currency-NZD" ) NZD
                          option( value="PHP" id="currency-PHP" ) PHP
                          option( value="RUB" id="currency-RUB" ) RUB
                          option( value="SGD" id="currency-SGD" ) SGD
                          option( value="SZL" id="currency-SZL" ) SZL
                          option( value="TRY" id="currency-TRY" ) TRY
                          option( value="USD" id="currency-USD" ) USD
                          option( value="VND" id="currency-VND" ) VND
                          option( value="ZAR" id="currency-ZAR" ) ZAR

                  .form-group
                    label( for="exchange_rate" ) 對台幣匯率 *
                    .row
                      .col-md-12
                        input#exchange-rate.form-control( name="exchange_rate" type="text" placeholder="填入數字，如：31.33" requred="required")
                        p#currency-msg.help-block( style="display: none;")

                  button#btn-set-exchange-rate.btn.btn-secondary.btn-tiny( type="button" ) 繼續下一步
                #step1-block-2( style="display:none;" )

            #step2-block.panel.panel-gray
              .panel-heading
                .panel-title STEP 2. 建立訂單內容
              #step2-block-content( style="display:none;" )
                .panel-body
                  #order-line-items(style="margin: 20px 0;")
                  .row
                    .col-md-10.col-md-offset-14
                      .total-field
                        .total-label 商品總額
                        #total-product.total-value
                      .total-field
                        .total-label 運費
                        #total-shipping.total-value
                      .total-field
                        .total-label 代買費
                        #total-commission.total-value
                      .total-field.total-all
                        .total-label 總計
                        #total-all.total-value

                #add-item-bar-position
                  #add-item-bar( style="display:flex;" )
                    button.btn.btn-primary.btn-tiny( id="btn-add-product" type="button" ) 新增商品
                    button.btn.btn-primary.btn-tiny( id="btn-select-product" type="button" ) 從清單新增商品
                    button.btn.btn-primary.btn-tiny( id="btn-add-shipping" type="button" ) 新增運費
                    button.btn.btn-primary.btn-tiny( id="btn-add-commission" type="button" ) 新增代買費
            p.btn-toolbar.text-right
              button.btn.btn-secondary.btn-tiny( id="order-cancel" type="button" ) 取消訂單
              button.btn.btn-tiny( id="order-submit" type="button" ) 儲存訂單