extends ../../../components/main_layout/templates/index

append locals
  - assetPackage = 'dashboard'

block head
  title Order Creation

block body
  #left-bar( style="position:fixed; width: 264px; height: 1200px; background:#333333;" )
  #right-content( style="padding-left:264px;")
    #top-bar( style="padding-left:264px; position: relative; height:50px; background: #f4f4f4;" )
    .row
      .col-md-22.col-md-offset-1
        ol.breadcrumb
          li
            a( href="#") 訂單清單
          li
          | 新增訂單
    .row
      .col-md-22.col-md-offset-1
        h1.pull-left( style="font-size: 24px; font-weight: bold;" ) 新增訂單
        .pull-right( style="margin-top: 20px;")
          a.btn.btn-secondary.btn-tiny 取消訂單
          a.btn.btn-disabled.btn-tiny 儲存訂單
        .clearfix
    .row
      .form
        .col-md-6.col-md-offset-1
          .panel.panel-primary
            .panel-header 訂單資訊
            .panel-content
              .form-group
                label 訂單編號
                p.form-control-staticemail 12345678
              .form-group
                label 訂單保留期限
                p.form-control-staticemail 2015/04/15
              .form-group
                label.control-label( for="notes" ) 附註
                textarea.form-control( id="notes", name="notes" type="text" placeholder="訂單附註說明" rows="5")
        .col-md-16
          include ./exchange_rate_settings

          .panel.panel-order-line-items( class="#{order.isNew() ? 'panel-disabled' : 'panel-secondary'}" )
            .panel-header
              .panel-title STEP 2. 建立訂單內容
            .panel-content
              .order-line-items
              .order-total-summary
                .row
                  .col-md-10.col-md-offset-14
                    .order-total-breakdown.clearfix
                      .order-total-breakdown-label.pull-left 商品總額
                      #order-product-total.order-total-breakdown-amount.pull-right
                    .order-total-breakdown.clearfix
                      .order-total-breakdown-label.pull-left 運費
                      #order-shipping-total.order-total-breakdown-amount.pull-right
                    .order-total-breakdown.clearfix
                      .order-total-breakdown-label.pull-left 代買費
                      #order-commission-total.order-total-breakdown-amount.pull-right
                    .order-total-breakdown.clearfix
                      .order-total-breakdown-label.pull-left 總計
                      #order-total.order-total-breakdown-amount.pull-right

            .panel-footer
              .order-line-items-actions
                button.add-item.btn.btn-primary.btn-tiny( type="button" data-item-type="product" ) 新增商品
                button.select-product.btn.btn-primary.btn-tiny( type="button" ) 從清單新增商品
                button.add-item.btn.btn-primary.btn-tiny( type="button" data-item-type="shipping" ) 新增運費
                button.add-item.btn.btn-primary.btn-tiny( type="button" data-item-type="commission" ) 新增代買費

          p.btn-toolbar.text-right
            button.cancel-order-update.btn.btn-secondary.btn-tiny( type="button" ) 取消訂單
            button.save-order.btn.btn-tiny( type="button" ) 儲存訂單
